<div class="container">
  <div class="row">
      <div class="col-sm-offset-3 col-sm-6 centered-form">
          <h1>Now you are a happy buyer of an artWork!!!</h1>
          <div class="image-delete">

            <img src="<%= artwork.pic_path %>">

          </div>

      </div>
  </div>
</div>
