<div class="container">
  <div class="row">

      <p> Name:
        <%=req.user.username %>
      </p>
      <p> Description:
        <%=req.user.description %>
      </p>
      <div>
        <br>
        <img src="<%=`${req.user.pic_path}`%>"/>
      </div>
      <!-- rutas ficticias en este momento -->
      <li> <a href="<%=req.user.username %>/edit"> Editar perfil </a> </li>
      <% if (req.user.isArtist) { %>
            <li> <a href="/gallery/new"> Gallery new </a> </li>

          <% } else { %>

          <% } %>

  </div>
</div>
